#agri{
    border-radius: 50px;
    width: 230px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    position: relative;
    top: 40px;
    background-color: bisque;
    
}


h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    position: absolute;
    top: 200px;
    margin-left: 100px;
    
}


button{
    background-color: black;
    color: white;
     border-radius: 10%;
     width: 120px;
     height: 40px;
     position: relative;
     top: 410px;
     right: 150px;
}

.div2{

    position: relative;
    top: 500px;
    margin-left: 100px;
}

.div2 img{
    width: 300px;
}


.div3 img{

    margin-left: 750px;
    width: 500px;
    height: 600px;
    position: relative;
    bottom: 240px;
    border-radius: 50px;
}










